body {
  background-color: #c9ced6;
}

h3 {
  font-size: 30px;
  font-weight: bold;
}
div#contactHL {
  width: 100%;
  display: block;
  text-align: center;
}
div#salesHL {
  width: 100%;
  display: inline-block;
  text-align: center;
  padding-bottom: 15px;
}
  a#homepage {
    font-size: 50px;
    padding: 15px;
    padding-right: 200px;
    text-align: center;
  }
  a#sales {
    font-size: 50px;
    padding: 15px;
    padding-left: 200px;
    text-align: center;
  }
  a#contact {
    font-size: 50px;
    padding: 15px;
    padding-left: 200px;
    text-align: center;
  }
  h1 {
  font-family: 'Itim', cursive;
  font-size: 60px;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/78779/bacon.svg");
  background-position: 0 1.26em;
  background-size: 28px .8em;
  text-align: center;
  color:black;
}
#salmon {
  display: block;
  margin: auto;
  padding: 30px;
  width: 50%;

}
img#chinook {
  size: 70%;
  margin: auto;
  display: block;
  padding-bottom: 50px;
}
table {
	border: 3px solid red;
  width: 90%;
  margin: auto;
  float: center;
  text-align: center;
}

tr, td, th {
  border: 3px solid;
  padding: auto;
}
td {
  border: 3px solid grey;
  padding: 5px;
  background-color: black;
  color: #c9ced6;
}
th {
  font-weight: bold;
  font-size: 22px;
  background-color:grey;
  color: black;
  padding: 10px;
}

div.lists {
  background-color: plum;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  float: left;
  width: 18%;
  border: 4px solid purple;
  margin: 5px;

}


main.contactinfo {
  display: block;
  width: 100%;
}
form {
  font-family: 'handwriting';
  src: url('fonts/journal-webfont.woff2') format('woff2'),
  url('fonts/journal-webfont.woff') format('woff');
  font-size: 15px;
  background-color: grey;
  border: 3px solid black;
  border-radius: 40px;
  margin: 30px auto 50px auto;
  padding: 10px;
  width: 95%;
}
[name~="minCus"], [name~="maxCus"], [name~="avgCookieSold"] {
  width: 60px;
}
section#links {
  display: inline-block;
  color: red;
}
a#saleshp {
  float: left;
}
a#contactp {
  display: inline-block;
}