body {
  background-color: blueviolet
}

  h3 {
  font-size: 30px;
  font-weight: bold;
  }
  h1 {
  font-family: 'Itim', cursive;
  font-size: 60px;
  text-align: center;
  color: plum;
}
#salmon {
  display: block;
  margin: auto;
  padding: 30px;
  width: 40%;

}

table {
	border: 3px solid red;
  width: 90%;
  margin: auto;
  float: center;
  text-align: center;
}

tr, td, th {
  border: 3px solid purple;
}
th {
  font-weight: bold;
}

div.lists {
  background-color: plum;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  float: left;
  width: 18%;
  border: 4px solid purple;
  margin: 5px;
  
}
form {
  font-family: 'handwriting';
  src: url('fonts/journal-webfont.woff2') format('woff2'),
  url('fonts/journal-webfont.woff') format('woff');
  font-size: 15px;
  border: 5px solid green;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width: 95%;
}
[name~="minCus"], [name~="maxCus"], [name~="avgCookieSold"] {
  width: 60px;
}